////
/// Resets
///
/// This is to reset any default values before designing the theme.
///
/// @group  Generics
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://luthemes.com/portfolio/generosity
////

* {
	margin          : 0;
	padding         : 0;
	vertical-align  : baseline;
	outline         : none;
	background      : transparent;
	border          : none;
	text-decoration : none;
	border-style    : solid;
	border-color    : var( --color-border );
	border-width    : 0;
	box-sizing      : border-box;
}
