////
/// Site content component.
///
/// This component generally wraps the `.site-container` section of the theme.
///
/// @group  Components
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://luthemes.com/portfolio/generosity
////

.site-container {
	background: color( white );
	border: 1px solid #cc4a00;
	margin: 1.125rem auto;
	padding: 1.125rem;
	max-width: 1170px;

	.site-content {
		margin-top: 1.125rem;

		.left-sidebar {

			.content-area {
				float: right;
				width: 68.37606838%;

			}

			.widget-area {
				float: left;
				width: 28.37606838%;
			}
		}

		.right-sidebar {

			.content-area {
				float: left;
				width: 68.37606838%;

			}

			.widget-area {
				float: right;
				width: 28.37606838%;
			}
		}
	}
}