////
/// Default elements.
///
/// @group  Elements
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://luthemes.com/portfolio/generosity
////

html, body {
	width: 100%;
}

body {
	background: #2d2d2d;
	font-family: font-family( primary );
	line-height: 1.75;
	margin: 0;
}
