.site-footer {
	background: #252525;
	text-align: center;
	color: grey;
	padding: 0.5rem;

	&__info {
		a {
			color: white;
			text-decoration-thickness: 2px;
			text-decoration: underline;
		}
	}
}
