////
/// Set up and define colors.
///
/// @group  Settings
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://luthemes.com/portfolio/generosity
////

/// Returns a map of block colors in name-value format. These are the colors
/// defined via the `editor-color-palette` setting in `app/functions-setup.php`
/// for the WordPress editor.
///
/// @since  0.0.1
/// @access public
/// @return {map}  Map of defined colors.

$aqua:     #00ffff;
$bisque:   #ffe4c4;
$black:    #000000;
$blue:     #0000ff;
$coral:    #ff7f50;
$cornsilk: #fff8dc;
$gold:     #ffd700;
$gray:     #808080;
$green:    #008000;
$grey:     #e6e6e6;
$indigo:   #0c0b0c;
$lavender: #e6e6fa;
$lime:     #00ff00;
$magenta:  #ff00ff;
$maroon:   #800000;
$navy:     #000080;
$olive:    #808000;
$orange:   #ffa500;
$pink:     #ffc0cb;
$plum:     #dda0dd;
$purple:   #800080;
$red:      #ff0000;
$salmon:   #fa8072;
$silver:   #eeeeee;
$tan:      #d2b48c;
$teal:     #008080;
$white:    #ffffff;
$yellow:   #ffff00;


@function colors() {
	@return (
		aqua     : $aqua,
		bisque   : $bisque,
		black    : $black,
		blue     : $blue,
		coral    : $coral,
		cornsilk : $cornsilk,
		gold     : $gold,
		gray     : $gray,
		green    : $green,
		indigo   : $indigo,
		lavender : $lavender,
		lgrey    : $grey,
		lime     : $lime,
		magenta  : $magenta,
		maroon   : $maroon,
		navy     : $navy,
		olive    : $olive,
		orange   : $orange,
		pink     : $pink,
		plum     : $plum,
		purple   : $purple,
		red      : $red,
		salmon   : $salmon,
		silver   : $silver,
		tan      : $tan,
		teal     : $teal,
		white    : $white,
		yellow   : $yellow,
	);
}

/// Returns a single color value by name.
///
/// @since  0.0.1
/// @access public
/// @param  {string}  $name  Font familiy name.
/// @return {string}         Font family value.

@function color( $name ) {

	@return map-get( colors(), $name );
}
